@import url('https://fonts.googleapis.com/css2?family=Kalnia+Glaze:wght@100..700&family=New+Amsterdam&family=Orbitron:wght@400..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Saira:ital,wght@0,600;1,600&display=swap');


body {
    margin: 0;
    padding: 0;
    background: gray;
    box-sizing: border-box;
    font-family: 'Saira', sans-serif ;
}

header {
    background-color:blueviolet ;
    color: white;
    padding: 10px 0;
    text-align: center;
    text-shadow: 1px 0.5px black;
}

image {
    background-image: bg.jpg;
    background-size: cover;
    background-position: center;
    z-index: 101;
}


nav {
    background-color:darkkhaki;
    padding: 20px;
    text-align: center;
}




